body {
    font-family: 'Muli', sans-serif;
}
#logo h1{
    /*color:#009900; */
    
}

  
  /* The slow way */
  .make-it-slow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  /* Transition to a bigger shadow on hover */
  .make-it-slow:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  
  .links {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    border-radius: 25px;
    color: black;
    
    margin: 5px;
  }
  .links:hover{
    color: rgb(156, 214, 185) !important;
  }

h1{
    
    /*color:#009900;*/
}
h5{
    color: 	#28333b; 
}

.btn:hover{

    background-color:#808080;
}
.btn:focus,btn:active{
    outline: none !important;
    box-shadow: none;
}
.btn{
    background-color:white;
}
